body {/*General body mark-up*/
    font: 15px/1.5 'Pacifico', 'open sans', cursive;
    padding:0;
    margin:0;
    background-image: url("img/cloudy-day.png");
    color: #f1f1f1;
}

#characters {
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

#word {
    list-style: none;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}


#word > li {
    display: inline-block;
    width: 5%;
    height: 100%;
    font-size: 50px;
}

#us_cont {
    display: none;
    width: 100%;
    background-color: rgba(231, 76, 60, 0.8);
    border-radius: 10px;
    margin: auto;
}

#characters > li {
    padding: 5px;
    font-size: 15px;
}

h1 {
    width: 100%;
    text-align: center;
}

h4 {
    text-align: center;
}

#galgje_img {
    margin: auto;
    display: block;
    border: 10px ridge #E74C3C;
    margin-top: 25vh;
}

.action-button
{
    position: relative;
    padding: 10px 0;
    margin: 0px 10px 0 0px;
    float: center;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 0px solid;
    margin-bottom:5px;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.underscore_sect {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 5vh;
    height: 180px;
}

.us_cont {
    display: block;
    margin: auto;
}

.character_sect {
    width: 80%;
    overflow: hidden;
    margin: auto;
    height: 200px;
}

#characterform {
    display: none;
    background-color: rgba(231, 76, 60, 0.8);
    border-radius: 10px;
    padding-bottom: 5px;
}

.form-lbl {
    display: block;
    text-align: center;
}

#character {
    width: 90%;
    padding: 8px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 2px solid #ADADADFF;
    border-radius: 4px;
    display: block;
}

#guessbutton {
    background-color: #8AD0CFFF;
    border: none;
    border-bottom: 5px solid #57B19E;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    width: 90%;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px auto 10px auto;
    display: block;
}

#guessbutton:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#guessbutton:focus {
    outline: 0;
}

#slide_menus {
    position: absolute;
    height: 20vh;
    width: 100%;
    display: block;
}

.slide-btn {
    height: 100%;
    width:2%;
    color: white;
    background-color: #E74C3C;
    border: 0;
    padding: 0;
    position: absolute;
    cursor: pointer;
    border-bottom: 5px solid #BD3E31;
    box-sizing: initial;
    outline: none;
}

.slideleft-btn {
    right: 0;
    border-radius: 10px 0 0 10px;
    border-left: 1px solid #f1f1f1;
}

.slideright-btn {
    left: 0;
    border-radius: 0 10px 10px 0;
    border-right: 1px solid #f1f1f1;
}

.slideleft-cont {
    background-color: #E74C3C;
    color: #F1F1F1;
    height: 100%;
    width: 60%;
    border-radius: 10px 0 0 10px;
    border-bottom: 5px solid #BD3E31;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    float: right;
}

.slideright-cont {
    background-color: #E74C3C;
    color: #F1F1F1;
    height: 100%;
    width: 25%;
    border-radius: 0 10px 10px 0;
    border-bottom: 5px solid #BD3E31;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    float: left;
}

#modal-pop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.modal-cont {
    background-color: #E74C3C;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: auto;
    margin-top: 20vh;
    padding-bottom: 20px;
}

#modal_btn {
    background-color: #8AD0CFFF;
    border: none;
    border-bottom: 5px solid #57B19E;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    width: 90%;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px auto 10px auto;
    display: block;
}

#modal_btn:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#modal_btn:focus {
    outline: 0;
}

.congrats {
    text-align: center;
}

.image-cent {
    margin: auto;
    display: block;
}

@media only screen and (max-width: 600px) {/* makes size of form and articles more responsive*/
    #galgje_img {
        width: 80%;
    }
}