body {/*General body mark-up*/
	font: 15px/1.5 'Pacifico', 'open sans', cursive;
	padding:0;
	margin:0;
	background-image: url("img/cloudy-day.png");
	color: #f1f1f1;
}

.container {/*general content container*/
	width: 80%;
	margin:auto;
	overflow:hidden;/*prevents content from spilling out of container*/
}

.container h1 {
	text-align: center;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 0;
	margin: 0px 10px 0 0px;
	float: center;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
	width: 100%;
	text-align: center;
}


.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:active
{
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.btn_container {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

#jq_lnk_mn {
	position: absolute;
	height: 20vh;
	top:40vh;
	width: 100%;
}

section {
	position: relative;
	width: 100%;
	height: 100%;
}

/*.sidemenu a, .slideleft-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}*/

.slideleft-btn {
	height: 100%;
	width:2%;
	color: white;
	background-color: #E74C3C;
	border: 0;
	padding: 0;
	right: 0;
	position: absolute;
	cursor: pointer;
	border-radius: 10px 0 0 10px;
	border-bottom: 5px solid #BD3E31;
	border-left: 1px solid #f1f1f1;
	box-sizing: initial;
	outline: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sidemenu a:hover, .slideleft-btn:hover {
    color: #f1f1f1;
}

.slideleft-cont {
	background-color: #E74C3C;
	color: #F1F1F1;
	height: 100%;
	border-radius: 10px 0 0 10px;
	border-bottom: 5px solid #BD3E31;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	text-align: center;
	overflow: hidden;
}

.slideleft-cont h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.slideleft-cont p {
	margin-top: 0;
	margin-bottom: 5px;
}
.host_section {
	width: 38%;
	overflow: hidden;
}

#submit {
	background-color: #8AD0CFFF;
	border: none;
	border-bottom: 5px solid #57B19E;
	border-radius: 10px 10px 10px 10px;
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	width: 90%;
	height: 30px;
	text-decoration: none;
	cursor: pointer;
	margin: 4px auto 10px auto;
	display: block;
}

#submit:active {
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#submit:focus {
	outline: 0;
}

#host {
	width: 90%;
	padding: 8px 20px;
	margin: 8px auto;
	box-sizing: border-box;
	border: 2px solid #ADADADFF;
	border-radius: 4px;
	display: block;
}

.form-lbl {
	display: block;
	text-align: center;
}

.host_slide {
	display: none;
	background-color: rgba(231, 76, 60, 0.8);
	border-radius: 10px;
	padding-bottom: 5px;
}

#host-error {
	color: #405CBEFF;
	display: block;
	text-align: center;
}

#succes_message {
	color: #f1f1f1;
	display: block;
	text-align: center;
}
